body{
  background-color: #FFF6E7;
}

@font-face {
    font-family: Raleway;
    src: url(../public/fonts/Raleway-Bold.ttf);
  }


  @font-face {
    font-family: RalewayMedium;
    src: url(../public/fonts/Raleway-Medium.ttf);
  }
  



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-metal{
    background-image: url(./components/Assets/685.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-metalgroup{
  background-image: url(./components/Assets/logoMetalAbout.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.active{
  color: #ffaa4a;
}



